.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/**/*.html
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.claude/**
.github/**
.Jules/**
docs/**
CLAUDE.md
package.base.json
pnpm-lock.yaml
tsconfig.tsbuildinfo
