name: Package Extension

on:
  push:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Package Extension
        run: npx @vscode/vsce package --out fusi-tools.vsix

      - name: Upload VSIX Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fusi-tools-vsix
          path: fusi-tools.vsix
